.bas_prime_news_page {padding: 18px 0 0;}
.bas_prime_news_page .block {margin: 30px 0 0;}
.bas_prime_news_page .pict {
    font-size: 0;
    height: 100px;
    margin: 0 0 15px;
    line-height: 100px;
}
.bas_prime_news_page .pict img {vertical-align: middle;}
.bas_prime_news_page .pict:hover img:first-child,
.bas_prime_news_page .pict:not(:hover) img:last-child {display: none;}
.bas_prime_news_page .text {
    font-size: 16px;
    padding: 0 0 40px;
}